{{ attach_library('hipertintorero/bootstrap-lightbox') }}
<div id="contactoProducto" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
