<div class="wa__btn_popup">
    <div class="wa__btn_popup_txt">
        <strong><a href="https://wa.me/34670238400">Contacta con nosotros</a></strong>
    </div>
    <a href="https://wa.me/34670238400"><div class="wa__btn_popup_icon"></div></a>
</div>