  {% if label %}
    <h2 class="heading-title">{{ label }}</h2>
    <p>Entérate de todas las novedades de hipertintorero.com</p>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
