{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
<div id="menu-local-tasks" class="row">
{% if primary %}
  <ul class="ptabs">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <ul>{{ secondary }}</ul>
{% endif %}
</div>
