    {% set heading_id = attributes.id ~ '-menu'|clean_id %}
        <nav id = "primary-menu-mobile" {{ attributes }}>
          {# Label. If not displayed, we still provide it for screen readers. #}
          {% if not configuration.label_display %}
            {% set title_attributes = title_attributes.addClass('visually-hidden') %}
          {% endif %}
     

          {# Menu. #}
          {% block content %}
            {{ content }}
          {% endblock %}
        </nav>