{% if rows %}
    {% if footer %}
        {{ footer }}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-6">
                {% if header %}
                    {{ header }}
                {% endif %}

                <div class="testi-owl owl-carousel">
                    {% for row in rows %}
                        {{ row }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
